{:paths ["src"]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.18.1158"}}
 :aliases
 {:serve {:main-opts ["-e" "(require 'nextjournal.clerk) (nextjournal.clerk/serve! {:watch-paths [\"src\"]})"]}
  :build {:exec-fn nextjournal.clerk/build!
          :exec-args {:paths ["src/sutra_book.clj"]
                      :out-path "public"
                      :package :single-file
                      :browse? false
                      :index "src/sutra_book.clj"}}}}
